{% extends 'base.html' %}

{% block title %}
All posts on site
{% endblock  %}

{% block body %}
<div class="container">
    <h1>All posts on site </h1>
    {% if articles|length > 0 %}
    {% for el in articles %}
    <div class="alert alert-info"></div>
    <h2>{{el.title}}</h2>
    <p>{{el.intro}}</p>
    <p><b>Дата: {{el.date.date()}}</b></p>
    <a href="/posts/{{el.id}}" class="btn btn-warning">Детальнее</a>

    {% endfor %}
    {% else %}
    <p>На сайте  нет статей</p>
    {% endif %}

</div>
{% endblock  %}